<div id="ocmp-bar" class="ocmp-bar">
	<div class="ocmp-bar-container">
		<div class="ocmp-bar-main">
			<h5 class="ocmp-bar-title" data-role="bar-title">Cookie Policy</h5>
			<p class="ocmp-bar-description" data-role="bar-description">
				This site uses cookies to enhance your experience. We are assuming that you are okay with that, but you can change that by clicking at the settings button.
			</p>
		</div>
		<div class="ocmp-bar-actions">
			<button class="ocmp-button" data-role="bar-button-settings">Settings</button>
			<button class="ocmp-button" data-role="bar-button-accept-all">Accept All</button>
		</div>
	</div>
</div>
