<div id="ocmp-modal" class="ocmp-modal">
	<div class="ocmp-modal-content">
		<h4 id="modalTitle">Cookie Settings</h4>
		<p id="modalDescription">
			Here you can change your cookie preferences. Clicking on save will save the current settings, while clicking on cancel makes no change. 
			According to the European general data protection regulation (GDPR) and the ePrivacy directive, websites must receive the user’s consent before using any cookie besides the strictly necessary ones.
			You can expand each section to learn a bit more for each category. If you are interested to learn more, then follow the link.
			</p>
		<ul class="ocmp-collapsible">
			@@include('./consents/strictly_necessary.html') 
			@@include('./consents/preferences_functionality.html') 
			@@include('./consents/statistics_performance.html') 
			@@include('./consents/marketing_advertising.html')
		</ul>
	</div>
	<div class="ocmp-modal-footer">
		<a class="ocmp-button-flat" data-role="modal-button-cancel">Cancel</a>
		<a class="ocmp-button-flat" data-role="modal-button-save">Save</a>
	</div>
</div>
