<li id="preferences_functionality" >
	<div class="ocmp-collapsible-header" data-role="consent-header">
		<div class="ocmp-collapsible-header-title" data-role="consent-title">Preferences</div>
		<div class="ocmp-switch" data-role="consent-switch">
			<label>
				<input name="preferences_functionality_cookies" id="preferences_functionality_cookies" type="checkbox" autocomplete="off" />
				<span class="ocmp-switch-lever"></span>
			</label>
		</div>
	</div>
	<div class="ocmp-collapsible-body" style="display: none" data-role="consent-body">
		<span data-role="consent-content">Preference cookies or otherwise known as functional, allow the website to remember your choices. Activating them allows the site to provide an optimized and personalized browsing experience. If you do not accept them there is a chance that some of the site’s features might not work properly or at all.
		</span>
	</div>
</li>
