<li id="statistics_performance" data-role="consent">
	<div class="ocmp-collapsible-header" data-role="consent-header">
		<div class="ocmp-collapsible-header-title" data-role="consent-title">Statistics</div>
		<div class="ocmp-switch" data-role="consent-switch">
			<label>
				<input name="statistics_performance_cookies" id="statistics_performance_cookies" type="checkbox" autocomplete="off" />
				<span class="ocmp-switch-lever"></span>
			</label>
		</div>
	</div>
	<div class="ocmp-collapsible-body" style="display: none" data-role="consent-body">
		<span data-role="consent-content">Statistics or Performance cookies collect anonymous information regarding the usage within the site. This information can include statistics like how many users visit the site or which pages, while it can also include error messages. Usually the purpose of those are to provide the webmaster information about his site and what is going on.</span>
	</div>
</li>
