<li id="strictly_necessary">
	<div class="ocmp-collapsible-header" data-role="consent-header">
		<div class="ocmp-collapsible-header-title" data-role="consent-title">Necessary </div>
		<div class="ocmp-switch" data-role="consent-switch">
			<label>
				<input name="strictly_necessary_cookies" id="strictly_necessary_cookies" type="checkbox" autocomplete="off" />
				<span class="ocmp-switch-lever"></span>
			</label>
		</div>
	</div>
	<div class="ocmp-collapsible-body" style="display: none" data-role="consent-body">
		<span data-role="consent-content">Necessary or strictly necessary cookies, as the name suggests, are cookies that the site must use in order to work or provide very basic functions and security features. These cookies do not store personal data.</span>
		<table class="ocmp-table">
			<thead>
				<tr>
					<th>Cookie Name</th>
					<th>Cookie Description</th>
					<th>Cookie Provenance</th>
					<th>Cookie Duration</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>__ocmp</td>
					<td>Stores the user’s choice for the cookie policy</td>
					<td>OCMP</td>
					<td>1 year</td>
				</tr>
			</tbody>
		</table>
	</div>
</li>

