
$theme-bar-bg-color: #2a2e35;
$theme-bar-text-color: #bdbdbd;
$theme-bar-shadow-color: rgba(0, 0, 0, 0.37);
$theme-bar-title-color: #00897b;


$theme-modal-bg-color: #2a2e35;
$theme-modal-text-color: #bdbdbd;
$theme-modal-title-color: #00897b;
$theme-modal-footer-bg-color: darken($theme-modal-bg-color, 5%);
$theme-modal-footer-border-color: #bdbdbd;

$theme-button-bg-color: #26a69a;
$theme-button-text-color: #ffffff;
$theme-buton-bg-color-hover: #2bbbad;
$theme-button-text-color-hover: $theme-button-text-color;


$theme-button-flat-bg-color: #26a69a;
$theme-button-flat-text-color: #ffffff;
$theme-buton-flat-bg-color-hover: #2bbbad;
$theme-button-flat-text-color-hover: $theme-button-flat-text-color;


$theme-collapsible-header-bg-color: lighten(#2a2e35, 5%);
$theme-collapsible-header-text-color: #bdbdbd;
$theme-collapsible-border-color: darken(#bdbdbd, 15%);
$theme-collapsible-shadow-color: darken(#bdbdbd69, 15%);

$theme-switch-text-color: #9e9e9e;
$theme-switch-bg-color: rgba(0,0,0,.38);
$theme-switch-off-color: #f1f1f1;
$theme-switch-on-color: #26a69a;

$theme-table-border-color: darken(#bdbdbd, 35%) !default;

$theme-floating-btn-bg-color: #26a69a;
$theme-floating-btn-bg-color-hover: lighten(#26a69a, 5%);
$theme-floating-btn-color: #ffffff;

$theme-link-text-color: #2bbbad;
$theme-link-text-color-hover: lighten($theme-link-text-color, 5%);
