#ocmp {
	.ocmp {
		&-bar {
			box-sizing: border-box;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 15002;
			line-height: 1;
			box-shadow: 0 0 10px $bar-shadow-color;
			overflow-y: auto;
			background: $bar-bg-color;
			color: $bar-text-color;
			padding: 15px 10px 30px 15px;
			// 	-webkit-transition: opacity 0.3s ease-out;
			// 	transition: opacity 0.3s ease-out;
			// 	max-height: 96vh;
			// 	-webkit-overflow-scrolling: touch;

			&-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				margin: 0 auto;
				width: 80%;
			}

			&-main {
				max-width: 1000px;
				width: 100%;
			}

			&-actions {
				align-items: end;
				margin: -5px;
			}

			&-title {
				color: $bar-title-color;
				margin: 0 0 10px;
				padding: 0;
				font-size: 20px;
				line-height: 1.2;
				font-weight: 300;
			}
			&-description {
				font-size: 14px;
			}
		}
	}
}
