#ocmp {
	.ocmp {
		&-collapsible {
			margin: 0.5rem 0 1rem 0;
			border-top: 1px solid $collapsible-border-color;
			border-left: 1px solid $collapsible-border-color;
			border-right: 1px solid $collapsible-border-color;
			box-shadow: 0 2px 2px 0 $collapsible-shadow-color, 0 3px 1px -2px $collapsible-shadow-color, 0 1px 5px 0 $collapsible-shadow-color;

			&-header {
				display: flex;
				cursor: pointer;
				line-height: 1.5;
				padding: 1rem;
				align-items: center;
				justify-content: space-between;
				background-color: $collapsible-header-bg-color;
				color: $collapsible-header-text-color;
				border-bottom: 1px solid $collapsible-border-color;
				// 	-webkit-tap-highlight-color: transparent;

				&-title {
					max-width: 57%;
					display: flex;
					font-weight: bold;
				}
			}
			&-body {
				display: none;
				border-bottom: 1px solid $collapsible-border-color;
				box-sizing: border-box;
				padding: 2rem;
				@media #{$medium-and-down} {
					padding: 1rem;
				}
			}
		}
	}
}
