#ocmp {
	.ocmp {
		&-modal {
			
			position: fixed;
			top: 10%;
			z-index: 15003;
			left: 0;
			right: 0;
			display: block;
			background-color: $modal-bg-color;
			color: $modal-text-color;
			padding: 0;
			margin: auto;
			overflow-y: auto;
			border-radius: 2px;
			box-shadow: 0 0 10px $bar-shadow-color;
	
			width: 70%;
			max-height: 90%; //non fixed
			height: 70%; // fixed
	
			@media #{$medium-and-down} {
				top: 5%;
				width: 90%;
				height: 90%;
			}
			//opacity: 1;
			//will-change: top, opacity;
			// transform: scaleX(1) scaleY(1);

			&-content {
				padding: 24px;
				position: absolute;
				overflow-y: auto;
				height: calc(100% - 56px);
				max-height: 100%;
				width: 100%;
			}

			&-footer {
				border-radius: 0 0 2px 2px;
				position: absolute;
				bottom: 0;
				padding: 4px 6px;
				height: 56px;
				width: 100%;
				text-align: right;
				background-color: $modal-footer-bg-color;
				border-top: 1px solid $modal-footer-border-color;
			}
		}
		h1,
		h2,
		h3,
		h4 {
			margin-top: 0;
			color: $modal-title-color;
		}

	}
}
