#ocmp {
	table.ocmp-table {
		width: 100%;
		display: table;
		border-collapse: collapse;
		border-spacing: 0;
		border: none;

		@media #{$medium-and-down} {
			overflow-wrap: anywhere;
		}

		td,
		th {
			padding: 15px 5px;
			display: table-cell;
			text-align: left;
			vertical-align: middle;
			border-radius: 2px;
		}
		tr {
			border-bottom: none;
			border-bottom: 1px solid $table-border-color;
		}
		tbody {
			> tr > td {
				border-radius: 0;
			}
		}
	}
}
