$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;

$small-screen: 600.99px !default;
$medium-screen: 992.99px !default;
$large-screen: 1200.99px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

$required-consent-bg-color: rgba(0,0,0,0.7);

$bar-bg-color: $theme-bar-bg-color;
$bar-text-color: $theme-bar-text-color;
$bar-shadow-color: $theme-bar-shadow-color;
$bar-title-color: $theme-bar-title-color;

$button-bg-color: $theme-button-bg-color;
$button-text-color: $theme-button-text-color;
$buton-bg-color-hover: $theme-buton-bg-color-hover;
$button-text-color-hover: $theme-button-text-color-hover;

$button-flat-bg-color: $theme-button-flat-bg-color;
$button-flat-text-color: $theme-button-flat-text-color;
$buton-flat-bg-color-hover: $theme-buton-flat-bg-color-hover;
$button-flat-text-color-hover: $theme-button-flat-text-color-hover;


$modal-bg-color: $theme-modal-bg-color;
$modal-text-color: $theme-modal-text-color;
$modal-title-color: $theme-modal-title-color;
$modal-footer-bg-color: $theme-modal-footer-bg-color;
$modal-footer-border-color: $theme-modal-footer-border-color;

$collapsible-header-bg-color: $theme-collapsible-header-bg-color;
$collapsible-header-text-color: $theme-collapsible-header-text-color;
$collapsible-border-color: $theme-collapsible-border-color;
$collapsible-shadow-color: $theme-collapsible-shadow-color;

$switch-text-color: $theme-switch-text-color;
$switch-bg-color: $theme-switch-bg-color;
$switch-off-color: $theme-switch-off-color;
$switch-on-color: $theme-switch-on-color;

$table-border-color: $theme-table-border-color;

$floating-btn-bg-color: $theme-floating-btn-bg-color;
$floating-btn-bg-color-hover: $theme-floating-btn-bg-color-hover;
$floating-btn-color: $theme-floating-btn-color;


$link-text-color: $theme-link-text-color;
$link-text-color-hover: $theme-link-text-color-hover;
